html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------------------------------------------------------*/
body {
  background-color: #fff6f3;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  margin: 0;
}

.wrapper {
  margin-bottom: auto;
}

.header {
  background-color: #ff6e40;
  color: #ff6e40;
  padding: 10px 30px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header .header_title {
  display: inline-block;
  width: fit-content;
  vertical-align: bottom;
}

.header .header_title a {
  text-decoration: none;
}

.header .header_title h3 {
  display: block;
  font-size: 26px;
  color: #000000;
}

.header .header_userinfo {
  display: inline-block;
  vertical-align: bottom;
  position: fixed;
  right: 30px;
}

.header .header_userinfo .menu_container {
  margin: 0;
  position: relative;
}

.header .header_userinfo .menu_container .menu {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  background-color: white;
  border: 1px solid silver;
  display: none;
  position: absolute;
  right: 30px;
  width: 900%;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .header_userinfo .menu_container .menu .menu_userinfo {
  background-color: white;
  padding: 4px 8px;
}

.header .header_userinfo .menu_container .menu .menu_userinfo .menu_userinfo_icon {
  display: inline-block;
  vertical-align: bottom;
  width: 50px;
  border-radius: 25px;
}

.header .header_userinfo .menu_container .menu .menu_userinfo .menu_userinfo_icon img {
  background-color: white;
  margin: 0;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: bottom;
}

.header .header_userinfo .menu_container .menu .menu_userinfo .menu_userinfo_text {
  display: inline-block;
  color: #000000;
}

.header .header_userinfo .menu_container .menu .menu_item {
  flex: 1;
}

.header .header_userinfo .menu_container .menu .menu_item a {
  text-decoration: none;
}

.header .header_userinfo .menu_container .menu .menu_item .menu_item_block {
  background-color: #fff6f3;
  color: #000000;
  border-bottom: 1px solid silver;
  padding: 16px 8px;
}

.header .header_userinfo .menu_container .menu .menu_item .menu_item_block:hover {
  opacity: 0.7;
}

.header .header_userinfo .menu_container .menu .menu_item:last-child .menu_item_block {
  border-bottom: none;
}

.header .header_userinfo .header_userinfo_icon {
  display: inline-block;
  vertical-align: bottom;
}

.header .header_userinfo .header_userinfo_icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header .header_userinfo .header_userinfo_icon img {
  background-color: white;
  margin: 0;
  border-radius: 13px;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: bottom;
}

.container {
  position: relative;
  top: 46px;
  padding: 10px;
  margin-bottom: auto;
}

.window {
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  background-color: white;
}

.window .window_title {
  background-color: #ffa06d;
  padding: 4px 8px;
}

.window .window_title h2 {
  font-size: 32px;
  background-color: #ffa06d;
  color: #000000;
}

.window .window_content {
  padding: 15px;
}

.window .window_content .thread_list a {
  text-decoration: none;
}

.window .window_content .thread_list .thread_list_item {
  color: #000000;
  margin: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.window .window_content .thread_list .thread_list_item .thread_list_item_title {
  border-bottom: solid 2px #fff6f3;
}

.window .window_content .thread_list .thread_list_item .thread_list_item_title .thread_list_item_info {
  color: gray;
  position: absolute;
  right: 70px;
}

.window .window_content .thread_list .thread_list_item .thread_list_item_content {
  padding: 5px;
}

.window .window_content .thread_list .thread_list_item .thread_list_item_content .thread_list_item_content_user {
  display: inline-block;
}

.window .window_content .thread_list .thread_list_item .thread_list_item_content .thread_list_item_content_user img {
  border-radius: 50%;
}

.window .window_content .thread_list .thread_list_item .thread_list_item_content .thread_list_item_content_text {
  display: inline-block;
}

.window .window_content .postform {
  margin: 15px;
}

.window .window_content .button {
  margin-left: 15px;
}

.window .window_content .pagination {
  margin: 15px;
}

.window .window_content .response {
  margin: 15px;
  border: solid 2px #fff6f3;
}

.window .window_content .response .res .res_block {
  padding: 4px;
  border-bottom: solid 2px #fff6f3;
}

.window .window_content .response .res .res_block .res_block_userinfo {
  display: inline-block;
}

.window .window_content .response .res .res_block .res_block_content {
  display: inline-block;
}

.window .window_content .response .res .res_block img {
  border-radius: 25px;
}

.window .window_content .response .res:last-child .res_block {
  border-bottom: none;
}

.window .window_content .window_content_title {
  margin: 15px;
}

.window .window_content .window_content_title h4 {
  font-size: 20px;
  font-weight: bold;
}

textarea {
  width: 90%;
}

.button {
  background-color: #03a9f4;
  color: white;
  width: auto;
  padding: 4px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  padding: 4px;
  border: none;
}

.button_submit {
  background-color: #03a9f4;
  color: white;
  width: auto;
  padding: 4px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  padding: 4px;
  border: none;
}
